*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}
body {
    background-image: url("../img/TierraDelFuego.jpg");
    background-size: cover;
}

#minefield {
    display: flex;
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#minefield > div {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}